*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

.header{
    /* min-height: 100vh; */
    background-image: linear-gradient(to bottom right, black, rgb(129, 128, 128));
    
    position: relative;
}



pge{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}



pge img{
    width: 150px;

}



.pge-links{
    flex: 1;
    text-align: right;
}



.pge-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    /* position: sticky; */
}

.pge-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
    font-weight: 100;
}

.pge-links ul li::after{
    content: '' ;
    width: 0%;
    height: 2px;
    background: #f0293a;
    display: block;
    margin: auto;
    transition: 0.5s;
    /* position: sticky; */
}

.pge-links ul li:hover::after{
    width: 100%;
    position: sticky;
}




@media (min-width: 700px) {
    #icon1{
        display: none;
        color: white;
    }

    #icon2{
        margin: 2vh;
        color: white;
        display: none;
    }
}

@media(max-width: 700px){
    .header-text h1{
    font-size: 22px;
    }

    .pge-links ul li{
        display: block;
    }

    .pge-links{
        position: absolute;
        background: rgb(66, 64, 64);
        height: 100vh;
        width: 200px;
        top : 0;
        right : 10px;
        text-align: left;
        z-index: 2;
        transition: 1.2s;
    }

    #icon1{
        display: block;
        margin: 2vh;
        cursor: pointer;
        color: white;
    }

    #icon2{
        display: block;
        margin: 2vh;
        cursor: pointer;
        color: white;
    }

    .pge-links ul{
        padding: 10px;
    }
    
}








/* -----------------------------shop------------------------------- */ 

.heading{
    margin-top: 20px;
    text-align: center;
}

.heading p{
    font-style: italic;
    font-size: 18px;
}


.parts-container{
    display:flex;
    flex-wrap: wrap;
    gap:2rem;
    margin-top: 2rem;
    background-image: linear-gradient(to bottom right, #0f0f0f, #72726f);
    /* background-color: #f0293a; */
    padding: 30px;
}

.parts-container .box{
    flex: 8 8 25rem;
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background: rgb(212, 212, 212);
    border-radius: 10px;
}

@media(min-width: 1699px){
    .parts-container .box{
        flex: 8 8 30rem;
    }
}


.parts-container .box h3{
    font-size: 20px;
    font-weight: 600;
}

.parts-container .box .btn{
    max-width: 120px;
    /* background-image: linear-gradient(to right, #000000, rgb(212, 212, 212)); */
    color: #2b2b2b;
    text-decoration: none;
}

.parts-container .box .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: black;
    font-style:oblique;
    
}

.parts-container .box .btn:hover{
    color: #f50000;
}

.parts-container .box img{
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center ;
    margin-bottom: 1rem;
}

.parts-container .box span{
    font-size: 18px;
    font-weight: 1000;
    color: #5FD068;
}



















button {
    background-color: #24262b;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 10px;
    padding-left: 5px;
    border: none;
    cursor: pointer;
    width: 90%;
}

.modal-content  p{
    text-align: center;
}

/* .hover:hover {
    background-color: rgb(68, 206, 206);
    text-decoration: none;
} */

/* Extra styles for the cancel button */
.cancelbtn {
    width: 90%;
    padding: 14px 20px;
    background-color: #f44336;
    /* margin-left: 30px; */
    padding-left: 5px;
}

/* .cancelbtn:hover {
    background-color: rgb(196, 0, 0);
} */

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.formcontainer {
    position: relative;
    margin: 5px;
    left: 5px;
}

.modal p{
    padding-bottom: 30px;
    font-size: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 2px solid black;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 80%;
    }

}






















/* 
--------------------------shop2------------------------------ */


.parts-container2{
    display:flex;
    flex-wrap: wrap;
    gap:2rem;
    margin-top: 2rem;
    background-image: linear-gradient(to bottom right, #11468F, #DA1212);
    /* background-color: #f0293a; */
    padding: 30px;
    
}

.parts-container2 .box2{
    flex: 8 8 25rem;
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background: #EEEEEE;
    border-radius: 10px;
    
}


@media(min-width: 1699px){
    .parts-container2 .box2{
        flex: 8 8 25rem;
    }
}

@media(min-width: 1320px){
    .parts-container2 .box2{
        flex: 8 8 26rem;
    }
}
/* 
@media(max-width: 908px){
    .parts-container2 .box2{
        flex: 8 8 30rem;
    }
} */

.parts-container2 .box2 img{
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center ;
    margin-bottom: 1rem;
}

.parts-container2 .box2 h3{
    font-size: 20px;
    font-weight: 600;
    
}

.parts-container2 .box2 span{
    font-size: 18px;
    font-weight: 1000;
    color: #5FD068;
}

.parts-container2 .box2 .btn{
    max-width: 120px;
    /* background-image: linear-gradient(to right, #000000, rgb(212, 212, 212)); */
    color: black;
}

.parts-container2 .box2 .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: black;
    font-style:oblique;
    
}

.parts-container2 .box2 .btn:hover{
    color: #f30000;

}
















































/* 
-------------------------------------footer------------------------------------ */

.row{
    display: flex;
    justify-content: center;
}


@media(max-width: 600px){
    .row{
        flex-direction: column;
    }
}


.footer{
    background-color: #24262b;
    padding: 70px 0;
}

.container{
    max-width: 1170px;
    background-color: #24262b;
    margin: auto;
}

ul{
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content:'';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-weight: 300;
    color: rgb(255, 251, 251);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: white;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
color: #24262b;
background-color: white;
}
